@model IEnumerable<MovieApp.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

<link href="~/css/StyleSheet.css" type="text/css" rel="stylesheet" />

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title mt-2 text-center">Movie List</h4>
            </header>
            <div class="text-center pt-3">@ViewData["User"] Logged In !!</div>
            <article class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MovieName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rating)
                            </th>
                            <th>Actions </th>
                        </tr>
                    </thead>
                    <tbody class="table-striped">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MovieName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rating)
                                </td>
                                <td>
                                    <a class="text-Custom1" asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
                                    <a class="text-danger" asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                <a class="btn btn-primary " asp-controller="Movie" asp-action="Create">Add Movie</a>
            </article>
        </div>
    </div>
</div>
